@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root{
  --blue: #bce6eb;
  --blue-dark: #1091a0;
  --light-blue: #dbf6e9;
  --light-pink: #fdcfdf;
  --pink: #fca3cc;
  --font-light: #e8e8e8;
  --font-dark: #606060;
}
*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html{
  height: 100%;
  background-color: var(--light-blue);
  overflow-x: hidden;
}

/* LOADING */
.loading{
  height: 65vh;
  width:100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.bar{
  width: 15px;
  height: 10px;
  background-color:var(--pink);
  margin: 0px 7px;
  animation: bar 1s infinite linear;
}
.bar:nth-child(1){
  animation-delay: 0s;
}
.bar:nth-child(2){
  animation-delay: 0.25s;
  background-color: var(--font-dark);
}
.bar:nth-child(3){
  animation-delay: 0.5s;
}
@keyframes bar {
	0% {
		transform: scaleY(1) scaleX(0.5);
	}

	50% {
		transform: scaleY(10) scaleX(1);
	}

	100% {
		transform: scaleY(1) scaleX(0.5);
	}
}


/* NO_RESULTS */

.no-result{
  height: 65vh;
  width:100%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.no-result-image{
  position: absolute;
  z-index: 0;
  left:20px;
  width: min(450px,40vw);
  opacity: 0.8;
}
.no-result-title{
  z-index: 2;
  font-weight: 900;
  padding: 10px;
  position: relative;
  width: fit-content;
  font-size: 3em;
  color: #333333;
}
.no-result-title::before{
  content: "";
  position:absolute ;
  top: 0;
  left: 0;
  transform: rotate(-10deg);
  width: 70%;
  height: 100%;
  opacity: 0.7;
  background: url(./img//TitleStr.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

/* SEARCH BAR */

.search-bar{
  height: 70px;
  padding:0px 40px;
  background-color: var(--blue);
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
}

/* TITLE */
.search-bar .title{
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: 1.5px;
  transform: skewX(-20deg) translateY(-8px);
  flex-grow: 1;
  color: var(--font-dark);
}
.search-bar .title span{
  position: relative;
  transform: translateY(15px);
  display: inline-block;
  margin-left: 12px;
}
.search-bar .title span::before{
  content: "";
  position: absolute;
  top: -40%;
  left: -6px;
  width: 3px;
  height: 150%;
  background-color: var(--pink);
}

/* SEARCH BUTTON */

.search-comp{
  position: relative;
  display: flex;
  flex-flow: row;
  padding: 10px 20px;
  background-color: var(--pink);
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

/* ICON */
.search-icon{
  background-color: rgba(0,0,0,0);
  margin-left: 15px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  color: var(--font-dark);
  cursor: pointer;
  padding: 4px;
  outline: none;
  transition: all .2s ease-out;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
}
.search-icon:hover{
  animation: btn .5s infinite alternate;
}

@keyframes btn{
  from{
    background-color: rgba(255,255,255,0.35);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
  }
  to{
    background-color: rgba(255,255,255,0.25);    
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.25);
  }
}

/* INPUT */
.search-input{
  font-size: 0.9em;
  padding: 5px;
  background-color: rgba(255,255,255,0.35);
  border: none;
  outline: none;
  border-radius: 2px;
  transition: all .2s ease-in;
}
.search-input:hover{
  background-color: rgba(255,255,255,0.25);
}
.search-input:focus{
  background-color: rgba(255,255,255,0.25);
}
.input-comp{
  position: relative;
}
.input-comp::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border-radius: 0 0 1px 1px;
  width: 0%;
  height: 4px;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color:var(--blue);
}
.input-comp:focus-within::before{
  width: 100%;
}


/* FILTERS */
.filters{
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
.filter-item{
  margin: 5px;
  color: var(--font-dark);
  cursor: pointer;
  padding: 8px 15px;
  outline: none;
  border: none;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
  text-transform: capitalize;
}
.in-active{
  background-color: white;
}
.in-active:hover{
  background-color: #eeeeee;
}
.remove{  
  text-transform: lowercase;
  margin-left: 10px;
  font-weight: 600;
  cursor: pointer;
  transform: translateY(-1px);
}
.active{
  background-color: var(--light-pink);
}

/* NEWS CONTAINER */
.news-container{
  margin: 50px auto;
  display: grid;
  grid-gap: 35px;
  /* flex-flow: row wrap; */
  /* max-width: 1000px; */
  width: 90%;
  grid-template-columns: repeat(4, 1fr);
}
/* FLEX */
/* .news-card:nth-child(1){
  flex-basis: 60%;
}
.news-card:nth-child(2){
  flex-basis: 35%;
} */


/* GRID */
/* .news-card:nth-child(1){
  grid-column: span 1;
  grid-row: span 2;
}
.news-card:nth-child(2){
  grid-column: span 2;
  grid-row: span 1;
} */
.news-card{
  margin: 10px;
  position: relative;
  transform-style: preserve-3d;
  height: 350px;
  padding: 50px 20px 0 25px;
  transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* overflow: hidden; */
  box-shadow:0px 0px 5px 5px rgba(0,0,0,0.15), 0px 5px 5px rgba(0,0,0,0.5);
  background-color: var(--font-dark);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  color: var(--font-light);
}
.news-card:hover{
  transform: scale(1.1);
  box-shadow:0px 0px 5px 5px rgba(16,145,160,0.65), 0px 5px 5px rgba(16,145,160,0.5);
  z-index: 2;
}
/* SOURCE HEADLINE */
.news-card-source{
  position: absolute;
  display: flex;
  top: 5%;
  cursor: default;
  flex-flow: row;
  width: 80%;
  /* width: 200px; */
  /* max-width: 250px; */
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
} 
.source-name{
  font-weight: 800;
  flex-basis: 70%;
}
.publish-date{
  font-weight: 600;
}
/* NEWS HEADLINE */
.news-card-title{
  font-size: 1.8em;
  font-weight: 700;
  cursor: default;
  background: rgb(245,106,121);
  background: linear-gradient(137deg, rgba(245,106,121,1) 0%, rgba(255,169,185,1) 100%);
  background-clip: text;
  transition: all .2s ease-in;
  -webkit-text-fill-color: transparent;
}
/* DESCRIPTION */
.news-card-desc{
  font-size: 1em;
  color: var(--font-light);
  margin-top: 20px;
  transition: all .2s ease-in;
  width: 85%;
}
.btn-view{
  padding:10px 20px;
  margin: 20px 0;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  font-size: 1em;
  font-weight: 600;
  z-index: 0;
  color: var(--light-blue);
  background-color:var(--blue-dark);
}
.btn-view::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: 2;
  transform: scale(0,1);
  transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: var(--light-blue);
  border-radius: 0 0 2px 2px;
}
.btn-view:hover::before{
  transform: scale(1,1);
}

.news-catagory{
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 0.8em;
  text-transform: capitalize;
}